// BG :: START

.bg
  if(contentClassName === "video" || contentClassName === "service")
    img.bg__img.bg__img--video.bg__img--video-0(
    src="./img/img-bg-parralax-video-0.png"
    srcset="./img/img-bg-parralax-video-0@2x.png 2x"
    alt=""
    title=""
    )
    img.bg__img.bg__img--video.bg__img--video-1(
    src="./img/img-bg-parralax-video-1.png"
    srcset="./img/img-bg-parralax-video-1@2x.png 2x"
    alt=""
    title=""
    )

    if(contentClassName === "service")
      img.bg__img.bg__img--service(
      src="./img/img-bg-parralax-statisticJoin-1.png"
      srcset="./img/img-bg-parralax-statisticJoin-1@2x.png 2x"
      alt=""
      title=""
      )

  if(contentClassName !== "service")
    img.bg__img.bg__img--join(
    src="./img/img-bg-parralax-statisticJoin-1.png"
    srcset="./img/img-bg-parralax-statisticJoin-1@2x.png 2x"
    alt=""
    title=""
    )

  if(contentClassName === "contact")
    img.bg__img.bg__img--contact(
    src="./img/img-bg-parralax-contact-1.png"
    srcset="./img/img-bg-parralax-contact-1@2x.png 2x"
    alt=""
    title=""
    )
    img.bg__img.bg__img--contact(
    src="./img/img-bg-parralax-contact-0.png"
    srcset="./img/img-bg-parralax-contact-0@2x.png 2x"
    alt=""
    title=""
    )

  if(contentClassName === "home")
    img.bg__img.bg__img--home(
    src="./img/img-bg-parralax-home-1.png"
    srcset="./img/img-bg-parralax-home-1@2x.png 2x"
    alt=""
    title=""
    )
    img.bg__img.bg__img--home(
    src="./img/img-bg-parralax-home-0.png"
    srcset="./img/img-bg-parralax-home-0@2x.png 2x"
    alt=""
    title=""
    )

  img.bg__img.bg__img--statistic(
  src="./img/img-bg-parralax-statisticJoin.png"
  srcset="./img/img-bg-parralax-statisticJoin@2x.png 2x"
  alt=""
  title=""
  )
  img.bg__img.bg__img--footer(
  src="./img/img-bg-parralax-footer.png"
  srcset="./img/img-bg-parralax-footer@2x.png 2x"
  alt=""
  title=""
  )

// BG :: END