// NEWSLETTER :: START

section#newsletter.newsletter
  .c-grid
    .newsletter__wrapper
      .newsletter__wrapper-left
        p!= "Get your brand identity right, <br>from the very first block."

      .newsletter__wrapper-right
        a(
        href="#"
        title=""
        class="newsletter__btn newsletter__btn-0 btn btn--bg"
        )!= "Why wait?"
        a(
        href="#"
        title=""
        class="newsletter__btn newsletter__btn-1 btn btn--border"
        )!= "Newsletter"

// NEWSLETTER :: END