// PARTNER :: START

section#partner.partner
  .c-grid
    .partner__wrapper
      a.partner__block.partner__block-0(href="#")
        img(
        src="./img/img-google-p.png"
        srcset="./img/img-google-p@2x.png 2x"
        alt=""
        title=""
        )

      a.partner__block.partner__block-1(href="#")
        img(
        src="./img/img-facebook-p.png"
        srcset="./img/img-facebook-p@2x.png 2x"
        alt=""
        title=""
        )

      a.partner__block.partner__block-2(href="#")
        img(
        src="./img/img-slack-p.png"
        srcset="./img/img-slack-p@2x.png 2x"
        alt=""
        title=""
        )

      a.partner__block.partner__block-3(href="#")
        img(
        src="./img/img-viber-p.png"
        srcset="./img/img-viber-p@2x.png 2x"
        alt=""
        title=""
        )

      a.partner__block.partner__block-4(href="#")
        img(
        src="./img/img-behance-p.png"
        srcset="./img/img-behance-p@2x.png 2x"
        alt=""
        title=""
        )

      a.partner__block.partner__block-5(href="#")
        img(
        src="./img/img-dribble-p.png"
        srcset="./img/img-dribble-p@2x.png 2x"
        alt=""
        title=""
        )


    .partner__row
      p!= "Trusted by the multinational companies"


// PARTNER :: END