// PARTNER :: START

section#partner.partner
  .c-grid
    .partner__wrapper
      a.partner__block.partner__block-0.viewport-hide-js(href="#")
        img(
        src="./img/img-google-p.png"
        srcset="./img/img-google-p@2x.png 2x"
        alt=""
        title=""
        )

      a.partner__block.partner__block-1.viewport-hide-js(
      data-animation-delay="0.2s"
      href="#")
        img(
        src="./img/img-facebook-p.png"
        srcset="./img/img-facebook-p@2x.png 2x"
        alt=""
        title=""
        )

      a.partner__block.partner__block-2.viewport-hide-js(
      data-animation-delay="0.3s"
      href="#")
        img(
        src="./img/img-slack-p.png"
        srcset="./img/img-slack-p@2x.png 2x"
        alt=""
        title=""
        )

      a.partner__block.partner__block-3.viewport-hide-js(
      data-animation-delay="0.4s"
      href="#")
        img(
        src="./img/img-viber-p.png"
        srcset="./img/img-viber-p@2x.png 2x"
        alt=""
        title=""
        )

      a.partner__block.partner__block-4.viewport-hide-js(
      data-animation-delay="0.5s"
      href="#")
        img(
        src="./img/img-behance-p.png"
        srcset="./img/img-behance-p@2x.png 2x"
        alt=""
        title=""
        )

      a.partner__block.partner__block-5.viewport-hide-js(
      data-animation-delay="0.6s"
      href="#")
        img(
        src="./img/img-dribble-p.png"
        srcset="./img/img-dribble-p@2x.png 2x"
        alt=""
        title=""
        )


    .partner__row.viewport-hide-js(
    data-animation-delay="0.7s"
    )
      p!= "Trusted by the multinational companies"


// PARTNER :: END