// LOGOTYPE :: START

.logo.viewport-hide-js(
data-vp-offset="-10"
data-animation-name="slideInDown"
)
  a(
  href="/"
  title=""
  class=""
  )
    +iconSVG("logo")
    p!= "Block 1"

// LOGOTYPE :: END