// NAV :: START

-
  var headerNav = [
  {
  href: "/",
  name: "Home"
  },
  {
  href: "#",
  name: "About us"
  },
  {
  href: "service.html",
  name: "Services"
  },
  {
  href: "#",
  name: "Team"
  },
  {
  href: "contact.html",
  name: "Contact us"
  }
  ];

nav.nav
  ul
    each val, idx in headerNav
      li.viewport-hide-js(
      data-vp-offset="-10"
      data-animation-name="slideInDown"
      data-animation-delay!= (0.25 + parseFloat(0.1 * idx)).toFixed(2) + "s"
      )
        a(
        href= headerNav[idx].href
        title=""
        class=""
        )!= headerNav[idx].name

// NAV :: END